<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Medicine Reminder AI</title>

<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>

<nav>

<h2>💊 Medicine Reminder AI</h2>

<div>

<a href="/">Home</a>

<a href="/dashboard">Dashboard</a>

<a href="/upload">Upload Prescription</a>

</div>

</nav>


<section class="hero">

<div class="hero-left">

<h1>AI Powered Medicine Reminder</h1>

<p>

Upload a doctor's prescription, automatically detect medicines using OCR,
predict adherence using Machine Learning, and receive smart voice reminders.

</p>

<a href="/upload" class="btn">Get Started</a>

</div>

<div class="hero-right">

<img src="https://cdn-icons-png.flaticon.com/512/2966/2966483.png">

</div>

</section>


<section class="cards">

<div class="card">

<h2>OCR</h2>

<p>Read prescription automatically.</p>

</div>

<div class="card">

<h2>Machine Learning</h2>

<p>Predict medicine adherence.</p>

</div>

<div class="card">

<h2>Voice Reminder</h2>

<p>Never miss your medicine.</p>

</div>

</section>

</body>
</html>